/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {background-color: #99CCFF;}

#header {
    padding:30px;
    width:1300px;
    float: right;
}


#content {
    padding:30px;
    width:1300px;
    float: right;
}

#sidebar {
    padding:70px;
    width:150px;
    float: left;}



nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    width: 100%;
    padding: 0 70px 110px 0;  /*margin: X X X X; 上下左右*/
    
}

nav li a{
    text-decoration: none;
    /*padding: 0 0 0 100px;*/
    /*background-color: #B384FF;　　ヘッダーそれぞれのカラー*/
    color: #000;
}

nav li a:hover{
    /*background-color: #3399FF;*/
    /*color: white;*/
    border-bottom: 2px solid #3399FF;
}

p1:hover{
    background-color: #3399FF;
    color: white;
}

i { padding : 10px }